body {
    background-color: whitesmoke;
    color: black;
    max-width: 800px;
    margin: auto;
    font-family: sans-serif;
}

p {
    line-height: 1.6;
}

article + article {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid #c5c5c5;
}